extends template/main
append vars
  -
    page_title= 'Главная'
block content
    core-body
        .form-corner
            form.form
                button(type='button').close
                    span
                    span
                input(type='text' placeholder='Ваше имя').form-input.name
                input(type='tel' placeholder='Телефон').form-input.phone
                input(type='email' placeholder='E-mail').form-input.mail
                input(type='password' placeholder='Пароль').form-input.pass
                button(type='button').submit Подтвердить